$black-0: #0c0c0c;
$black-1: #121212;
$black-2: #151515;
$black-3: #181818;

$theme-secondary: rgba(192, 64, 64, 1);
$theme-secondary-faded: rgba(192, 64, 64, 0.4);
$theme-primary: rgb(96, 32, 128);
$theme-primary-faded: rgba(96, 32, 128, 0.4);
